<html>
<body>
    <h2>Services List</h2>
    <ul>
        {% for service in services %}
            <li>
                <a href="{% url 'service_detail' service.pk %}">{{ service.service_name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_service' %}">Add New Service</a>
</body>
</html>
.







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































